*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
}
.section-8{
    width: 100%;
    height: 580px;
    display: flex;
    padding: 75px 142.5px 75.006px 142.5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #f5f5f5;
}
.title-box{
    display: flex;
    gap: 14px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.cards-box{
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
}
.cards-box-2{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-direction: column;
}
.section-9{
    width: 100%;
    height: 580px;
    display: flex;
    padding: 75px 142.5px 75.006px 142.5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #ffff;
}
