*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
}
.section-8{
    width: 100%;
    height: 580px;
    display: flex;
    padding: 75px 142.5px 75.006px 142.5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #FAFAFA;
}
.icons-box{
    width: 1140px;
    height: 249px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.cards-box{
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    flex-direction: column;
}
.first-logo{
    width: 154px;
    height: 29.297px;
}
.sec-logo{
    width: 49.92px;
    height: 49.97px;
}
.third-logo{
    width: 154px;
    height: 51px;
}
.name{
    width: 233px;
    color: #333;
    text-align: center;
    font-family: "Inter";
    font-size: 17px;
    font-weight: 700;
    line-height: 28.08px;
}
