.links-item{
    color: #FFF;
    font-family: "Inter";
    font-size: 12.6px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.footer-links{
    width: 116px;
    height: 128px;
    display: flex;
    flex-direction: column;
}