.footer{
    width: 100%;
    height: 320.94px;
    background-image: url(../assets/footer-back.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.large-box{
    display: flex;
    width: 1140px;
    padding: 0 15px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 0.06px;
}
.inner-box{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

  